BACKEND_ADDRESS=https://big.csr.unibo.it/backend/API/path
BACKEND_PORT=8081
DB_NAME=abds_irrigation
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=isi-bigserv02.csr.unibo.it
DB_PORT=5432

GMAIL_USER=agrobdscience@gmail.com
GOOGLE_CLIENT_ID=google_client_id_string
GOOGLE_CLIENT_SECRET=google_client_secret_string
GOOGLE_REFRESH_TOKEN=google_refresh_token_string